<!--- @author MarioPaone --->

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Trawell</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" href="../css/carsharing&itinerary.css">
  <script src = "../js/validator_createad.js"></script>
</head>
<body>
  <section layout:fragment="content" style = "background-image: url('https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat;background-size: cover;;">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
			  <div class="col-6 align-self-center">
				  <div class = "card card-block personal-card">  
				  	<div class = "container">
              <p>Create your Ad!</p>
              <div>
                <form action = "/agency/createAd" method = "POST" id = "banning" enctype="multipart/form-data">
                  <div class = "row">
                    <div class="col-12">
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-money-check"></i></span>
                        </div>
                        <input type = 'text' name = "payment_method" placeholder = "Insert credit card number" class="form-control input_user">
                      </div><!--Metodo pagamento-->
                      <p>Choose the option:</p>
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-cog"></i></span>
                        </div>
                        <input type="radio" name="ad_time" value="1mesi" class="form-control input_user" checked> 1 Month (90 €) 
                      </div><!--Opzioni1-->
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-cog"></i></span>
                        </div>
                        <input type="radio" name="ad_time" value="3mesi" class="form-control input_user"> 3 Month (250 €)  
                      </div><!--Opzioni2-->
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-cog"></i></span>
                        </div>
                        <input type="radio" name="ad_time" value="6mesi" class="form-control input_user"> 6 Month (460 €) 
                      </div><!--Opzioni3-->
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-cog"></i></span>
                        </div>
                        <input type="radio" name="ad_time" value="12mesi" class="form-control input_user"> 12 Month (860 €) 
                      </div><!--Opzioni4-->
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type = "date" name = "starting_time" class="form-control input_user">
                      </div><!--Data iniziale-->
                      <p>Upload Photo</p>
                      <div class="input-group mb-2">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-image"></i></span>
                        </div>
                        <input type="file" name="file" class="form-control input_user">
                        <input type="submit">
                      </div><!--Foto-->
                      <div class = "row">
                        <div class = "col-12">
                          <div class="d-flex justify-content-center mt-3 login_container">
                            <input type = "submit" value = "Create Ad">
                          </div>
                        </div>
                      </div><br>
                    </div><!--fine col-12-->
                  </div><!--fine row-->
                </form>
              </div>
            </div><!--fine container-->
          </div><!--fine card-->
        </div><!--fine col-6-->
      </div><!--fine row-->
    </div><!--fine container h-100-->
  </section>
</body>
</html>