<!--- @author MarioPaone --->

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Home agenzia</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src = "../js/login.js"></script>
</head>
<body>
  <section layout:fragment="content">
    <p>Home Agenzia</p>
    <div class = "container">
      <div>
       <a href="createadvertisement"> Crea inserzione </a>
      </div>
    </div>
  </section>

</body>
</html>