<!--- @author MarioPaone --->

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Home agenzia</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src = "../js/login.js"></script>
  <link rel="stylesheet" href="../css/carsharing&itinerary.css">
</head>
<body>
  <section layout:fragment="content" style = "background-image: url('https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat;background-size: cover;;">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
			  <div class="col-6 align-self-center">
				  <div class = "card card-block personal-card">  
				  	<div class = "container">
              <div class = "row">
                <div class="col-12">
                  <p>Home Agency</p>
                  <div class="d-flex justify-content-center mt-3 login_container">
                    <a href="createadvertisement"> Crea inserzione </a>
                  </div>
                </div>
              </div>
            </div><!--fine container-->
          </div><!--fine card-->
        </div><!--fine col-6-->
      </div><!--fine row-->
    </div><!--fine container h-100-->
  <link rel="stylesheet" href="../css/adminhome.css">
</head>
<body>
  <section layout:fragment="content">
    <p>Home Agenzia</p>
    <p th:if="${msg}"> <h6 class="msgR" th:text='${msg}'> </h6>
    <div class = "container">
      <div>
       <a href="createadvertisement"> Crea inserzione </a> <br>
       <a href="/agency/deleteAdsLandAg"> Cancella inserzioni </a>
      </div>
    </div>
  </section>
</body>
</html>