<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
  <title>TraWell</title>
  <link rel="stylesheet" href="../css/complaint.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
</head>

<body>
  <section layout:fragment="content">
    <img src="../image/3.jpg" id="picInit" class="img-responsive" alt="I Swear this is a beautiful image">
    <div class="container h-100">

      <div class="row"></div>

      <div class="row">
        <div class="col-2"></div>

        <p>
          <h3>
            Please check out your email for your serial number
          </h3>
        </p>

      </div>
      <form action="/admin/checkSerialNumber" method="POST">
        <div class="row">
          <div class="col-2"></div>
          <div class="form-group">

            <label for="serialNumber">Serial Number</label>
            <input type="text" class="form-control" id="serialNumber" name="serialNumber"
              aria-describedby="insertserialnumber" placeholder="Enter serial number">


          </div>
        </div>
        <div class="row">
          <div class="col-10"></div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="row"></div>
      </form>

      
    </div>

    <p></p>

  </section>
  <footer>
    <p layout:fragment="custom-footer"></p>
  </footer>
</body>

</html>