<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
  <link rel="stylesheet" href="../css/complaint.css">
  <title>Perosnal Page</title>
  <header>here goes the header</header>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
</head>

<body style="background-color:rgb(229, 229, 229)">

  <section layout:fragment="content">
    <div class="container h-100">

      <img src="../image/4.jpg" id="picInit" class="img-responsive" alt="I Swear this is a beautiful image">

      <div class="row"><br></div>
      <div class="row">
        <div class="col-2"></div>
        >Before banning someone remember that we have a zero tollerance policy for the following
        reasons:
        <br>Woman discrimination;
        <br>Race Discrimination;
        <br>Sharing of Adult content in any ways or form;
        <br>Any kind of fraud;
      </div>
      <div class="row">
        <div class="col-2"></div>
        <a href="/admin/getBannedUsers">Ban User</a>
      </div>

      <div class="row"><br></div>
      <div class="row">
        <div class="col-2"></div>
        >You can change your personal information here:
      </div>
      <div class="row">
        <div class="col-2"></div>
        <a href="/users/changeData.html">Modify Personal Data</a>
      </div>

      <div class="row"><br></div>
      <div class="row">
        <div class="col-2"></div>
        >Before checking someone post, remember that we have a zero tollerance policy for the following
        reasons:
        <br>Woman discrimination;
        <br>Race Discrimination;
        <br>Sharing of Adult content in any ways or form;
        <br>Any kind of fraud;
        <br>If any of the previeus informations were present in the post, please ban the user
      </div>
      <div class="row">
        <div class="col-2"></div>
        <a href="post/listReportedPosts">Reported Posts</a>
      </div>

      <div class="row"><br></div>
      <div class="row">
        <div class="col-2"></div>
        >Here you can aswere all the complaints, please when answering remeber to be polite
      </div>
      <div class="row">
        <div class="col-2"></div>
        <a href="/complaint/viewComplaint">Answer Complaint</a>

      </div>
      <div class="row"><br></div>




    </div>
    </div>


    </div>
  </section>
</body>

</html>