<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Itinerary</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src = "../js/validation_itinerary.js"></script>
	<script src = "../js/add&removeDestination.js"></script>
</head>
<body>
  <section layout:fragment="content">
    <p>Create Itinerary</p>
    <div id="divId">
      <form action = "#" method = "POST" id = "target">
        Name: <input type = 'text' name = "name" placeholder = "name"><br>
        <div class = "destinations">
          <div  class = "destination">
            Destinazione:<input type = "text" name = "location" placeholder= "location"><br>
            Data e ora:<input type = "datetime-local" name = "date"><br>
            Descrizione:<textarea name = "description" placeholder= "description"></textarea><br> 
            <button style = "background-color:green;" class = "add">Aggiungi una destinazione</button><br>
          </div>
        
          <input type="submit" id = "clickme" value = "Crea nuovo itinerario">
      </div>
      </form>
    </div>
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 

</body>
</html>