<div th:each ="photo : ${post.photos}">
    <img th:src="@{${photo.path}}" class="card-img-top" alt="an img" th:id = "${''+post.id}" onerror='fix_image(this)'>   
</div>
  <!-- <img th:src="@{/images/test.png}"/>  <img th:src="@{${src}}"/>  "-->
  <p th:text = '${post.user.name +" " +post.user.surname}'></p><br>
  <p th:text = ${post.postDescription}></p><br>
  <button th:id = ${post.id} class="btn btn-primary remove"> <span class="fas fa-trash-alt"></span></button>
  <button th:id = ${post.id} class="btn btn-primary report">Segnala Post</button><br>

  <script src="../js/reportPost.js"></script>
  <script src="../js/removePost.js"></script>
