<!--- @author Milione Vincent --->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Itinerary</title>
  <script src = "../js/remove_carsharing.js"></script>
</head>
<body>
  <section layout:fragment="content">
    <p>Create Itinerary</p>
    <table>
        <tr th:each = "ad : ${carsharingAds}">
            <td th:text='${ad.departure +"-" + ad.arrival}'></td>
            <td>
                <span th:id = ${ad.id} class = "remove"><a>Rimuovi</a></span>
                <span><a th:href="${'/itinerary/view?id=' +ad.id}">View</a></span>
                <span><a th:href="${'/itinerary/modify?id=' + ad.id}">Modifica</a></span>
            </td>
        </tr>
    </table>
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 

</body>
</html>