<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Change Carsharing</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src = "../js/validation_carsharing.js"></script>
  <script src = "../js/modify_carsharing.js"></script>
</head>
<body>
  <section layout:fragment="content">
    <h2 style="color : black; text-align: center">Change Data</h2>
    <form action = "#" method = "POST" id = "target">
        <div class = "container">
          <div>
            <input type = "hidden" name = "id" th:value = ${carsharing.id}>
            departure_date:<input th:value = "${carsharing.departureDate}" type = 'datetime-local' name = "departureDate" id="departureDate"><br>
            departure:<input th:value = "${carsharing.departure}" type = 'text' name = "departure" id = "departure"><br>
            description:<input th:value = "${carsharing.description}" type = 'text' name = "description" id = "description"><br>
            arrival:<input th:value = "${carsharing.arrival}" type = 'text' name = "arrival" id = "arrival"><br>
            carsharingspot:<input th:value = "${carsharing.carsharingspot}" type = 'number' name = "carsharingspot" id = "carsharingspot" min = 1><br>
            <input type = "submit" value = "Modifica">
          </div>
        </div>
    </form>
    
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 
</body>
</html>