<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Sign-Up</title>
  <script src = "../js/modify_data.js"></script>
</head>
<body>
  <section layout:fragment="content">
    <p>Sign-Up</p>
    
    <form action = "/api/users/{user.id}" method = "POST" id = "target">
        <p>
            Username: <input th:value = "${user.username}" type = 'text' name = "username"><br>
            Old Password: <input type = "password" name = "oldpassword"><br>
            New Password: <input type = "password" name = "password"><br>
            Verifica New Password: <input type = "password" name = "verify"><br>
            Nome: <input th:value = "${user.name}" type = 'text' name = "name"><br>
            Cognome: <input th:value = "${user.surname}" type = 'text' name = "surname"><br>
            Data di Nascita: <input th:value = "${user.birth}" type = 'date' name = "birth"><br>
            Contatto: <input th:value = "${user.Phone}" type = 'phone' name = "Phone"><br>
            <input type = "button" id = "btn">
        </p>
    </form>
    
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 
</body>
</html>