<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Sign-Up</title>
</head>
<body>
  <section layout:fragment="content">
    <p>Sign-Up</p>
    
    <form action = "/sign-up" method = "POST" id = "target">
        <p>
            Username: <input value = ${username} type = 'text' name = "username"><br>
            Old Password: <input type = "password" name = "password"><br>
            New Password: <input type = "password" name = "password"><br>
            Verifica New Password: <input value = ${} type = "password" name = "verify"><br>
            Nome: <input value = ${nome} type = 'text' name = "name"><br>
            Cognome: <input value = ${cognome} type = 'text' name = "surname"><br>
            Data di Nascita: <input value = ${birth} type = 'date' name = "birth"><br>
            Contatto: <input value = ${contact} type = 'phone' name = "phone"><br>
            <input type = "submit">
        </p>
    </form>
    
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 
  <script type = "text/javascript">
    $(document).ready(function () {
      $('#target').submit(function () {
        var flag = $('this.input').each(function () {
          if (this.value == NaN)
            return false;
        });

        return flag == false ? false : true;
      });
      });
  </script>
</body>
</html>