<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Sign-Up</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src = "../js/validation_user.js"></script>
  <script src = "../js/signup.js"></script>
</head>
<body>
  <!--se stai cercando di mandare dati costruisci una form normale... continua in metodo signUp-->
  <section layout:fragment="content">
    <p>Sign-Up</p>
    
    <form action = "/users/signUp" method = "POST" id = "target">
        <p>
            Username: <input type = 'text' name = "username"><br>
            Password: <input type = "password" name = "password"><br>
            Verifica Password: <input type = "password" name = "verify"><br>
            Nome: <input type = 'text' name = "name"><br>
            Cognome: <input type = 'text' name = "surname"><br>
            E-mail: <input type = 'text' name = "mail"><br>
            Data di Nascita: <input type = 'date' name = "birth"><br>
            Contatto: <input type = 'phone' name = "phone"><br>
            <input type = "button" id = "toggle" value = "Are you an Agency?">
            <div id = "slider">
              Agency Name: <input type = 'text' name = "nameAgency"><br>
              Agency URL: <input type = 'text' name = "url"><br>
              Agency VAT: <input type = 'text' name = "vat"><br>
            </div>
            <input type = "submit">
        </p>
    </form>

  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 
</body>
</html>