<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
  <link rel="stylesheet" href="../css/complaint.css">
  <title>Complaint</title>
  <header>here goes the header</header>
</head>

<body>
  <section layout:fragment="content">

    <img src="../image/603820.jpg" id="picInit" class="img-responsive" alt="I Swear this is a beautiful image">

    <div class="container complaint h-100">
      <form method="POST" action="/Complaint/addComplaint">
        <div class="row">
          <div class="col-3"></div>
          <h3>
            <p>Thank you for taking time to fill a complaint.
              <br>
              Please fill the following forms</p>
          </h3>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5">
             <p>Enter a mail where you what to be answered:<br> <input type="email" name="mail" minlength="5"
            maxlength="256" autocomplete="on" placeholder="exemple@mailprovider.Trawell" class="form-control"><br></p>
          </div>
         
          <div class="col-1"></div>
          <div class="col-4">
            <p>Enter a title for your complaint: <br> <input type="text" name="complaintObject" minlength="3"
              maxlength="45" autocomplete="on" placeholder="Comlaint Title" class="form-control"><br></p>
          </div>
          
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <p>Enter your complaint: <br> <textarea rows="6" cols="50" name="complaintDescription"
                placeholder="Write your complaint here" class="form-control"></textarea></p>
          </div>
        </div>


        <div class="row">
          <div class="col-10"></div>
          <p><button type="submit" class="btn btn-primary">Submit complaint</button></p>
          </p>
        </div>
    </div>


    </form>
    </div>
  </section>
  
</body>

</html>