
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Complaint</title>
  <header>here goes the header</header>
</head>
<body>
  <form:form method="POST"
          action="/spring-mvc-xml/addComplaint" modelAttribute="Complaint">
          <section layout:fragment="content">
            <p>Thank you for taking time to fill a complaint. </p>
            <p>Please fill the following forms</p>
            <p>Enter a mail where you what to be answered:<br> <input type="email" name="mail" autocomplete="on" placeholder="exemple@mailprovider.Trawell"><br></p>
            <p>Enter a title for your complaint:          <br> <input type="text" name="complaintObject" autocomplete="on" placeholder="Comlaint Title"><br></p>
            <p>Enter your complaint:                      <br> <textarea rows="6" cols="50" name="complaintDescription" placeholder="Write your complaint here"></textarea></p>
            <p><input type="submit"  value="Submit Comlaint"></p>             
          </section>
        
        </form:form>
  
  <footer>
    <p layout:fragment="custom-footer">Here goes the footer</p> 
  </footer> 
</body>
</html>