<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Trawell</title>
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <section layout:fragment="content" style = "background-image: url('https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat;background-size: cover;;">
    Welcome to Trawell!
    <div id = "container">
      <div class = "card" style="width: 18rem;" id = "block1">
        <img class = "card-img-top" src = "https://cdn-media.italiani.it/site-catania/2019/04/Car-sharing-2-1000x600.jpg" height="180" width="286">
        <h5>Carsharings Available</h5>
        <div class = "carsharingAds">
          <div th:each = "ad : ${carsharingAds}" class = "carsharing">
              <p th:text="${ad.arrival}"/>
              <p th:text="${ad.departure}"/>
          </div>
        </div>    
      </div><br>
      <div class = "card" style="width: 18rem;" id = "block2">
        <img class = "card-img-top" src = "https://cdn4.iconfinder.com/data/icons/summer-travel-wildberry-volume-2/256/Travel_Itinerary-512.png" height="200" width="286">
        <h5>Itineraries Available</h5>
        <div class = "itineraries">
          <div th:each = "itinerary : ${itineraries}" class = "itinerary">
              <p th:text="${itinerary.name}"/>
          </div>
        </div>
      </div>
    </div>
    
  </section>
 
</body>
</html>