<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>TraWell</title>
  <link rel="stylesheet" href="../css/carsharing&itinerary.css">
  <link rel="stylesheet" href="../css/post.css">
</head>
<body>
  <section layout:fragment="content" style = "background-image: url('https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat;background-size: cover;;">
    <!-- This container wraps up everything in the page -->
      <div class="container h-100">

        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-6 align-self-center">
            <div class = "card card-block personal-card">
              <form action="/post/addPost" method="POST" enctype="multipart/form-data">
                <div class = "row" style="margin-top: 1em;">
                  <div class="col-12">
                    <div class="input-group mb-3" >
                      <div class="input-group-append" >
                        <span class="input-group-text"><i class="fas fa-pen"></i></span>
                      </div>
                      <input type="text" id="postdescription" name="postDescription" aria-describedby="postDescriptionHelp" placeholder="Enter post's description" class="form-control input_user">
                    </div><!--fine descrizione-->
                    <div class="input-group mb-2">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-image"></i></span>
                      </div>
                      <input type="file" name="files" multiple class="form-control input_user" style="text-align: center;">
                    </div><!--fine upload foto-->
                    <div>
                      <p>Do you want to add this post to a group? Select the group below</p>
                      <select name="idGroup">
                      <option value="0">---</option>
                      <option th:each="group: ${session.user.userGroups}"th:value="${group.id}" th:text="${group.name}"></option>
                      </select>
                    </div>
                    <div class = "row">
                      <div class = "col-12">
                        <div class="d-flex justify-content-center mt-3 login_container">
                          <input type = "submit" value = "Carica post" class="btn my_btn">
                        </div>
                      </div>
                    </div><!--fine button-->
                </form>
            </div>
          </div>
        </div>
        
      </div>
    <!--Fine container-fluid-->
  </section>
</body>
</html>




























     