<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>TraWell</title>
</head>
<body>
  <section layout:fragment="content" style = "background-image: url('https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat;background-size: cover;;">
    <p>Reported Post</p>
    <table>
        <tr th:each = "post : ${posts}">
            <td th:text='${post.user.name +" " +post.user.surname +"-" + post.postDescription}'></td>
            <td>
                <span><a th:href="${'/post/viewReportedPost?id=' +post.id}">View Post</a></span>
            </td>
        </tr>
    </table>
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 
</body>
</html>