<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>TraWell</title>
</head>
<body>
  <section layout:fragment="content">
    <p>Reported Post</p>
    <table>
        <tr th:each = "post : ${posts}">
            <td th:text='${post.user.name +" " +post.user.surname +"-" + post.postDescription}'></td>
            <td>
                <span><a th:href="${'/post/viewPost?id=' +post.id}">View Post</a></span>
            </td>
        </tr>
    </table>
  </section>
  <footer>
    <p layout:fragment="custom-footer">Questo footer è customizzato :) </p> 
  </footer> 
</body>
</html>