<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <script src="../js/removePost.js"></script>
  <script src="../js/discardPost.js"></script>
  <title>TraWell</title>
</head>
<body>
  <section layout:fragment="content" style = "background-image: url('https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat;background-size: cover;;">
    <!-- This container wraps up everything in the page -->
    <div class="container-fluid">
        <div class="row">
          <div class="offset-3 col-md-6">  
            <div class = "card blocks scrollbar">
            <div class="post-full-height"> 
              <div th:include="fragments/post/post"  class="fragment post-full-height">
              </div>
            </div>     
            </div>
            </div>
        </div>   
    </div>
  </section>
</body>
</html>