/* author: Alfieri Davide*/
p{
    display: inline;
}

.card{
    text-align: center;
    width: 18rem;
    margin-top: 1em;
    margin-left: 3em;
}

#block1,#block2,#block3,#block4{
    display: flex;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
}

h5{
    font-weight: bold;
}

body{
    background-image: url('../image/home.jpg');
}

.rotate{
   transform: rotate(270deg);
   width: 150%;
   vertical-align: middle;
   display: flex;  
   margin-top: 150px;
   
}

#block4{
    height: 550px;
}
  
