/* author: Alfieri Davide*/
p{
    display: inline;
}

.card{
    text-align: center;
}

#block1,#block2,#block3,#block4{
    display: flex;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
}

h5{
    font-weight: bold;
}

body{
    background-image: url('../image/home.jpg');
}
