/* author: Alfieri Davide*/
p{
    display: inline;
}

.card{
    text-align: center;
    border-radius: 0,25rem;
}
#page-content{
    margin-top: 50px;
    margin-bottom: 50px;
}


h5{
    font-size: medium;
    font-weight: bold;
}

body{
    background-image: url('../image/home.jpg');

}

.rotate{
   transform: rotate(270deg);
   width: 150%;
   vertical-align: middle;
   display: flex;  
   margin-top: 150px;
   
}

div.row .blocks{
    height: 350px;
    display: flex;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 0.25rem;
}

.fragment{
    margin-bottom: 2em;
}

.scrollbar{
    height: 100%;
    overflow-y: scroll;
}

.post-full-height{
    height: 100%;
}

.image{
    height: 50px;
}

