.mycard {
    width:50%;
    height: 70% ;
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
}

.extension {
    background-color: #03a1fc;
}

footer .row{
    margin-left: 0%;
    margin-right: 0%;
}

#collogofooter{
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

#collogofooter h6{
    text-align: center;
    color: white;
}

#Address {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 2%;
    color: white;
}

#Address a{
    color: white;
}

footer .col-3{
    margin-top: 5%;
    padding-left: 0%;
    padding-right: 0%;
}

footer .col-md-3{
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 0%;
}
.Subscribe p{
    color: white;
}

.rounded{
    background-color: #03a1fc;
}

.personal-card {
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 5% !important;
}

#logo{
    width: 100%;
}

.nav-item a{
    color:white;
}

#logofooter{
    width: 100%;
}

.personale{
    margin-right: 2%;
}

#btnfooter{
    background-color: white;
    border-color: white;
    color: #03a1fc;
}

#form-inline{
    margin-left: 0%;
    margin-right: 0%;
}

.footcol a{
    color: white;
}

.footcol p{
    color: white;
}

.navbar{
    background-color: #03a1fc;
}
