    /**@author Vincenzo Lamberti
    */

    .user_card {
        width:50%;
        height: 70% ;
        margin-top: 5%;
        margin-bottom: 5%;
        background: white;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        border-radius: 5%;
    }
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 100%;
        background: #03a1fc !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #03a1fc !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }