body {
    background-color: #eee;
    padding-top: 50px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

h4{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btn{
    text-align: center;
}

