<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <link rel="stylesheet" href="../css/layout.css">
  <title>Layout page</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
</head>

<body>
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark extension">
    <a class="navbar-brand" href="/">Trawell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="fas fa-car"></span>Find ride</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="fas fa-suitcase-rolling"></span>Share your
            experience</a></li>
        <li th:if="not ${session.user}" class="nav-item"><a class="nav-link" href="/users/sign-up-page"><span
              class="far fa-user"></span>Sign Up</a></li>
        <li th:if="not ${session.user}" class="nav-item"><a class="nav-link" href="/users/login-page"><span
              class="fas fa-sign-in-alt"></span>Log in</a></li>
        <li th:if="${session.user}" class="nav-item"><a class="nav-link" href="/users/logout"><span
              class="fas fa-sign-out-alt"></span>Log out</a></li>
        <li th:if="${session.user}" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a th:if="not ${session.user.isAdmin}" class="dropdown-item" href="/users/change-user-data">Update
              Credentials</a>
            <div th:if="not ${session.user.isAdmin}" class="dropdown-divider"></div>
            <a th:if="${session.user.isAdmin}" class="dropdown-item" href="/admin/banusers">Ban a User</a>
            <a th:if="${session.user.isAdmin}" class="dropdown-item" href="/Complaint/viewComplaint">List of
              Complaints</a>
            <a th:if="not ${session.user.isAdmin}" class="dropdown-item" href="/itinerary/list-view">My Itineraries</a>
            <a th:if="not ${session.user.isAdmin}" class="dropdown-item" href="/carsharing/list-view">My Carsharing
              Ads</a>
            <a th:if="not ${session.user.isAdmin}" class="dropdown-item" href="/post/viewPosts">My Posts</a>
            <a th:if="not ${session.user.isAdmin}" class="dropdown-item" href="/post/landing">Create a post</a>
            <a th:if=" ${session.isAgency}" class="dropdown-item" href="/agency/home">Agency home</a>
            <a th:if="not ${session.user.isAdmin}" class="dropdown-item" href="/group/list-view">My Group</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!--SECTION-->
  <section layout:fragment="content">

  </section>
  <!--footer-->
  <footer class="footer extension">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img src="../image/logo.png" id=logo>
          <h6><i class="fas fa-copyright"></i>TraWell</h6>
        </div>
        <div class="col-3">
          <a href="../../resources/templates/terms_and_conditions_trawell.html" target="_blank">Terms and conditions</a>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>